html {
   font-size: 10px;
 }
 @media only screen and (max-width: 1024px) {
   html {
     font-size: 9.375px;
   }
 }
 @media only screen and (max-width: 768px) {
   html {
     font-size: 10px;
   }
 }
 @media only screen and (max-width: 400px) {
   html {
     font-size: 9.375px;
   }
 }
 
 html, body {
   height: 100%;
 }
 
 body {
   background: #111111;
   font-family: "librebaskerville-regular", serif;
   font-size: 1.6rem;
   line-height: 3rem;
   color: #353535;
   margin: 0;
   padding: 0;
 }
 
 /* ===================================================================
  *  buttons
 ------------------------------------------------------------------- */
 .button,
 a.button,
 button {
   display: inline-block;
   font-family: "montserrat-bold", sans-serif;
   font-size: 1.4rem;
   text-transform: uppercase;
   letter-spacing: .3rem;
   height: 5.4rem;
   line-height: 5.4rem;
   padding: 0 3rem;
   margin: 0 .3rem 1.2rem 0;
   background: #A5A5A5;
   color: #222222;
   text-decoration: none;
   cursor: pointer;
   text-align: center;
   white-space: nowrap;
   border: none;
   -moz-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
   -webkit-transition: all 0.3s ease-in-out;
   -ms-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
 }

 /* ===================================================================
  *  header 
  * ------------------------------------------------------------------- */
 header {
   width: 100%;
   height: auto;
   position: absolute;
   left: 0;
   top: 0;
   z-index: 700;
 }
 header .row {
   height: auto;
   max-width: 1300px;
   position: relative;
 }
header .header-logo {
   position: absolute;
   left: 32px;
   top: 42px;
   -moz-transition: all 1s ease-in-out;
   -o-transition: all 1s ease-in-out;
   -webkit-transition: all 1s ease-in-out;
   -ms-transition: all 1s ease-in-out;
   transition: all 1s ease-in-out;
 }
 header .header-logo a {
   display: block;
   margin: 0;
   padding: 0;
   outline: 0;
   border: none;
   width: 77px;
   height: 47px;
   background: url("../images/logo1.jpg") no-repeat center;
   background-size: 77px 47px;
   font: 0/0 a;
   text-shadow: none;
   color: transparent;
   -moz-transition: all 0.5s ease-in-out;
   -o-transition: all 0.5s ease-in-out;
   -webkit-transition: all 0.5s ease-in-out;
   -ms-transition: all 0.5s ease-in-out;
   transition: all 0.5s ease-in-out;
 }
  /* ===================================================================
  *  navbar
  *------------------------------------------------------------------- */
  
 
 /* ===================================================================
  *  home
  *------------------------------------------------------------------- */
 #home {
   width: 100%;
   height: 100%;
   background-color: #151515;
   background-image: url(../images/IMG_0811.jpg);
   background-repeat: no-repeat;
   background-position: center 30%;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   background-size: cover;
   background-attachment: fixed;
   min-height: 804px;
   position: relative;
 }
 #home .overlay {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   opacity: .2;
   background-color: #19191b;
 }
 
 .home-content-table {
   width: 100%;
   height: 100%;
   display: table;
   position: relative;
   text-align: center;
 }
 
 .home-content-tablecell {
   display: table-cell;
   vertical-align: middle;
   z-index: 500;
 }
 .home-content-tablecell .row {
   position: relative;
   padding-top: 16.2rem;
   padding-bottom: 15rem;
 }
 .home-content-tablecell h3 {
   font-family: "montserrat-bold", sans-serif;
   font-size: 2.2rem;
   color: white;
   text-transform: uppercase;
   letter-spacing: .3rem;
   margin: 0 0 .9rem 0;
 }
 .home-content-tablecell h1 {
   font-family: "montserrat-bold", serif;
   font-size: 5rem;
   line-height: 1.133;
   color: #FFFFFF;
 }
 .home-content-tablecell .more {
   margin: 4.8rem 0 0 0;
 }
 .home-content-tablecell .more .button {
   border-color: #FFFFFF;
   color: #FFFFFF;
 }
@media only screen and (max-width: 1200px) {
   .home-content-tablecell h3 {
     font-size: 2.1rem;
   }
   .home-content-tablecell h1 {
     font-size: 7rem;
   }
 }
 @media only screen and (max-width: 1024px) {
   .home-content-tablecell h3 {
     font-size: 2rem;
   }
   .home-content-tablecell h1 {
     font-size: 6rem;
   }
 }
 @media only screen and (max-width: 768px) {
   .home-content-tablecell .row {
     max-width: 600px;
   }
   .home-content-tablecell h3 {
     font-size: 1.8rem;
   }
   .home-content-tablecell h1 {
     font-size: 5.2rem;
   }
   .home-content-tablecell h1 br {
     display: none;
   }

 }
 @media only screen and (max-width: 600px) {
   #home {
     min-height: 702px;
   }
 
   .home-content-tablecell .row {
     max-width: 480px;
     padding-top: 12rem;
     padding-bottom: 12rem;
   }
   .home-content-tablecell h3 {
     font-size: 1.7rem;
   }
   .home-content-tablecell h1 {
     font-size: 4.8rem;
   }
 }
 @media only screen and (max-width: 500px) {
   .home-content-tablecell .row {
     max-width: 420px;
   }
   .home-content-tablecell h3 {
     font-size: 1.5rem;
   }
   .home-content-tablecell h1 {
     font-size: 4.2rem;
   }
 }
 @media only screen and (max-width: 400px) {
   #home {
     min-height: 654px;
   }
 
   .home-content-tablecell .row {
     padding-top: 4.8rem;
     padding-bottom: 10.8rem;
   }
   .home-content-tablecell h3 {
     font-size: 1.4rem;
   }
   .home-content-tablecell h1 {
     font-size: 3.6rem;
   }
 }